html, body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
}

@include breakpoint(tablet) {
  #root {
    max-width: 1200px;
  }
}

@include breakpoint(laptop) {
  #root {
    max-width: 1400px;
  }
}

@include breakpoint(desktop) {
  #root {
    max-width: 1600px;
  }
}

@include breakpoint(big-screen) {
  #root {
    max-width: 1800px;
  }
}
